<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <itex_itexpay>
                <debug>1</debug>
                <active>0</active>
                <test_mode>1</test_mode>
                <integration_type>inline</integration_type>
                <model>Itex\ItexPay\Model\Payment\ItexPay</model>
                <title>Payment with Visa/ MasterCard, Verve,  QR Code , Bank Transfer, E-Naira(ITEXPAY)</title>
                <currency>NGN</currency>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>400</sort_order>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000</max_order_total>
            </itex_itexpay>
        </payment>
    </default>
</config>
